h1 {
    color: white;
    font-weight: 500;
}

h2, h3, h4 {
    color: rgb(225,225,225);
    font-weight: 300;
}

p {
    color: rgb(225,225,225); 
}

p:hover {
    color: rgb(255,255,255);
}

a {
    color: rgb(174,214,241);
}

a:hover {
    color: rgb(52,152,219);
}