<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
        <link rel="icon" href="{{ site.baseurl }}/assets/icon.png" type="image/x-icon" />
        <link rel="stylesheet" href="{{ site.baseurl }}/index.css" />

        <!-- Open Graph -->
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:url" content="{{ page.url | relative_url }}" />
        <meta property="og:image" content="{{ page.image }}" />

        <!-- Tailwind CSS -->
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {}
                }
            }
        </script>
    </head>

    <body class="bg-black">
        {% include header.html %}

        <main class="pt-16 p-4 md:w-7/12 mx-auto items-center space-y-3 text-sm md:text-base">
            <h1 class="py-24 text-white text-4xl md:text-6xl font-bold">{{ page.title }}</h1>

            <div class="text-[rgb(225,225,225)] space-y-4 [&_h2]:mb-4 [&_h2]:text-4xl [&_h3]:text-2xl [&_h3]:mb-2 [&_a]:text-[rgb(174,214,241)] [&_a]:hover:text-[rgb(52,152,219)]">
                {{ content }}
            </div>
        </main>
    </body>
</html>